# Fintoc Test Credentials
FINTOC_SECRET_KEY=sk_test_eU7HqDLbxN_ATJL_S81vqzM93_czVQFZXUC8ZH_x9aY
FINTOC_PUBLIC_KEY=pk_test_UEsGw6gx7z23Qp6KEx4BRfhogCGvYK4W2nc3yr6s2Z8
FINTOC_CURRENCY=CLP
FINTOC_SUCCESS_URL=http://localhost:3000/purchase/success
FINTOC_CANCEL_URL=http://localhost:3000/purchase/cancel
FINTOC_RETURN_URL=http://localhost:3000/purchase/result

# Database Credentials
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/ecommerce_db?schema=public

# Server Config
PORT=5000
JWT_SECRET=supersecretkey

